# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pkl

# Environments
env/
venv/
ENV/
.venv/
.idea/

# Logs and cache
*.log
*.sqlite3

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environments and credentials
.env

# Frontend build
node_modules/
dist/
build/
